// --------------------------------------------------------
// IMPORTS
// --------------------------------------------------------

@import 'boiler';

// --------------------------------------------------------
// COLOURS
// --------------------------------------------------------

$darkgrey: #222;

// --------------------------------------------------------
// MIXINS
// --------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.5em, $td:none) {
	font-family: 'Open Sans','helvetica',sans-serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	text-decoration: $td;
}

@mixin image{
	width: 33.33%;
	float:left;
	position:relative;
	cursor: pointer;
	background-position:center;
	background-size: cover;
	// -webkit-transition: all 0.7s ease-in-out;
	&:before{
		content:'';
		display:block;
		padding-top: 100%;
	}
}

@mixin hideMe {
	display: none;
	opacity: 0; 
	transition-delay: 3s;
}

@mixin divPosition ($pos, $width, $height, $zi) {
	position: $pos;
	width: $width;
	height: $height;	
	z-index: $zi;
}

// --------------------------------------------------------

body,
html {
	height: 100%;
	margin: 0;
} 


header {
	text-align: center;
	padding: 40px 0;
	font-weight: 900;
	h1 {
		font-family: 'Open Sans', 'Helvetica', sans-serif;
		font-size: 48px;
		color:$darkgrey;
	}
}

//----------------------------------------------------------------
//BACKGROUND IMAGES 
//----------------------------------------------------------------

.image1 {
	background: url(../images/img1.jpg);
	@include image;
}
.image2 {
	background: url(../images/img2.jpg);
	@include image;
}
.image3 {
	background: url(../images/img3.jpg);
	@include image;
}
.image4 {
	background: url(../images/img4.jpg);
	@include image;
}
.image5 {
	background: url(../images/img5.jpg);
	@include image;
}
.image6 {
	background: url(../images/img6.jpg);
	@include image;
}
.image7 {
	background: url(../images/img7.jpg);
	@include image;
}
.image8 {
	background: url(../images/img8.jpg);
	@include image;
}
.image9 {
	background: url(../images/img9.jpg);
	@include image;
}
.image10 {
	background: url(../images/img10.jpg);
	@include image;
}
.image11 {
	background: url(../images/img11.jpg);
	@include image;
}
.image12 {
	background: url(../images/img12.jpg);
	@include image;
}



//----------------------------------------------------------------
//IMAGE PANEL
//----------------------------------------------------------------

.imagePanel {
	@include divPosition(fixed,100%,null,99);
	top:0;
	left:0;
	display:none;
	background: url('images/img1.jpg') center;
	background-size: cover;
	transition: all 1s ease-in-out;
}

.imagePanel.full {
	width: 100% !important;
	height: 100% !important;
	top:0 !important;
	left:0 !important; 
}

.button {
	@include hideMe;
	@include divPosition (absolute,15%,400px,200);
	// background-color: green;
	color: white;
}


.button.delay {
	display:block !important;
	opacity:1 !important;
	transition:opacity 2s ease-in-out;
}

.fa {
	// position: absolute;
	text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

.closeButton {
	@include hideMe;
	@include divPosition(null,75px,75px,20);
	top: 20px;
	right: 0;
	cursor: pointer;
	text-align: center;
	.fa {
		position: relative;
		top: calc(50% - 16px);
	}
}

.backButton {
	top:30%;
	left:0;
	text-align: center;
	cursor: pointer;
	padding-top: 10%;
	.fa {
		padding-right: 20%;
	}

}

.nextButton {
	top:30%;
	right:0;
	text-align: center;
	cursor: pointer;
	padding-top: 10%;
	.fa {
		padding-left: 20%;
	}
}

.bottomContainer {
	@include hideMe;
	@include divPosition(absolute,100%,120px,20);
	left: 0;
	bottom: 0;
	margin:0 auto;
	padding-top: 10px;
	// text-align: center;
}

.toggleCaption {
	@include divPosition(null,60px,60px,null);
	margin: 0 auto;
	cursor: pointer;
	background-color: #222;
	border-radius: 100%;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
	.fa {
		font-size: 24px;
		position: relative;
		top: calc(50% - 12px);
		left: calc(50% - 10px);
	}
}
.container {
	width: 100%;
	padding: 0 33.3%;
}
figcaption {
	//jQuery will reveal this on click of more info button
	@include divPosition(absolute,33%,null,300);
	bottom: 120px;
	background-color: #222;
		#caption {
			display:none;
			padding: 2% 5%;
			#captionTitle {
				@include fontify(18px, 600);
				color:white;
				margin-bottom: 5px;
			}
			#captionBody {
				// display:block;
				@include fontify(14px, 300);
				color:white;
				margin-top: 5px;
				margin-bottom: 16px;
				
			}
		}
}

