doctype html
html(lang='en')
	head
		title=gallery
		//-CSS	
		link(rel="stylesheet", href="css/style_gallery.css")
		link(rel='stylesheet' type='text/css' href='css/bootstrap-social.css')
		link(rel='stylesheet' type='text/css' href='css/font-awesome.css')

	body
		div.imagePanel
			div.closeButton
				i.fa.fa-times.fa-2x

			div.backButton.button
				i.fa.fa-chevron-left.fa-4x
			div.nextButton.button
				i.fa.fa-chevron-right.fa-4x

			div.bottomContainer
				div.toggleCaption
					i.fa.fa-plus
					//- p info

			figcaption
				p We were blown away by the amount of uses our Mockuuups. We found a lot of shots with Mockuuups on Dribbble and we really appreciate it!


			
