<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="style.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,800,900", type="text/css")
	script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(type='text/javascript', src="gallery.js")
body
	div.imagePanel
		div.backButton.button
		div.nextButton.button

		div.bottomContainer
			div.toggleCaption
				p info

		figcaption
			p We were blown away by the amount of uses our Mockuuups. We found a lot of shots with Mockuuups on Dribbble and we really appreciate it!
	header
		h1 James Jean Illustration
	article
		.image1
			//- figcaption
			//- 	h2 Image 1
			//- 	p This is a paragraph that explains what the image is.
		.image2
		.image3
		.image4
		.image5
		.image6
		.image7
		.image8
		.image9
		.image10
		.image11
		.image12
			