<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/style.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,800,900", type="text/css")
	script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(type='text/javascript', src="gallery.js")
	link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
body
	div.imagePanel
		div.closeButton
			i.fa.fa-times.fa-2x

		div.backButton.button
			i.fa.fa-chevron-left.fa-4x
		div.nextButton.button
			i.fa.fa-chevron-right.fa-4x

		div.bottomContainer
			div.toggleCaption
				i.fa.fa-plus


		figcaption
			p#caption We were blown away by the amount of uses our Mockuuups. We found a lot of shots with Mockuuups on Dribbble and we really appreciate it!
	header
		h1 James Jean Illustration
	article
		.image.image1(data-caption="Hello world 1")
		.image.image2(data-caption="Hello world 2")
		.image.image3(data-caption="Hello world 3")
		.image.image4(data-caption="Hello world 4")
		.image.image5(data-caption="Hello world 5")
		.image.image6(data-caption="Hello world 6")
		.image.image7(data-caption="Hello world 7")
		.image.image8(data-caption="Hello world 8")
		.image.image9(data-caption="Hello world 9")
		.image.image10(data-caption="Hello world 10")
		.image.image11(data-caption="Hello world 11")
		.image.image12(data-caption="Hello world 12")
			

			//- figcaption
			//- 	h2 Image 1
			//- 	p This is a paragraph that explains what the image is.			