<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Miyazaki Films Gallery 
	link(rel="stylesheet", href="css/style.css")
	link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css')

	link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet")
body
	div.imagePanel
		div.closeButton.button
			i.fa.fa-times.fa-2x

		div.backButton.button
			i.fa.fa-chevron-left.fa-4x

		div.nextButton.button
			i.fa.fa-chevron-right.fa-4x

		div.bottomContainer.button
			div.toggleCaption
				i.fa.fa-plus
		div.container
			figcaption
				div#caption
					p#captionTitle
					p#captionBody 
	header
		h1 Miyazaki Films
	article
		.image.image1(data-title="Castle In the Sky" data-caption="Castle in the Sky is a 1986 Japanese animated adventure film written and directed by Hayao Miyazaki and is also the first film produced and released by Studio Ghibli. The film was distributed by Toei Kabushiki Kaisha.")
		.image.image2(data-title="Howl's Moving Castle" data-caption="Howl's Moving Castle is a 2004 Japanese animated fantasy film scripted and directed by Hayao Miyazaki. The film is based on the novel of the same name by English writer Diana Wynne Jones. ")
		.image.image3(data-title="Princess Mononoke" data-caption="Another still from the movie.")
		.image.image4(data-title="The Wind Rises" data-caption="Hello world 4")
		.image.image5(data-title="My Neighbour Totoro" data-caption="Hello world 5")
		.image.image6(data-title="Ponyo" data-caption="Hello world 6")
		.image.image7(data-title="Castle In The Sky" data-caption="Hello world 7")
		.image.image8(data-title="Up On Poppy Hill" data-caption="Hello world 8")
		.image.image9(data-title="The Secret World of Arrietty" data-caption="Hello world 9")
		.image.image10(data-title="Princess Mononoke" data-caption="Hello world 10")
		.image.image11(data-title="Princess Mononoke" data-caption="Hello world 11")
		.image.image12(data-title="Princess Mononoke" data-caption="Hello world 12")
	
	script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(type='text/javascript', src="gallery.js")

			//- figcaption
			//- 	h2 Image 1
			//- 	p This is a paragraph that explains what the image is.			